<?xml version="1.0" encoding="utf-8"?>
<!-- 
	OJO Siempre q se meta un valor aca y este sea configurable por el usuario 
	toca cambiar el control AMS.Tools.ConfiguracionInicial y agregar el campo
	insertado aca 
-->
<appSettings>
  <!-- Configuraciones Sistema -->
  <add key="SystemName" value="AMS" />
  <add key="CompanyName" value="|Ecas Cloud Systems|" />
  <add key="Version" value="Version 2.0.1" />

  <!-- Configuraciones Regionales -->
  <add key="ManejoCentavos"    value="N" />
  <add key="MonedaNacional"    value="PESOS" />

  <!-- Tamaño paginas listados dbmanager-->
  <add key="DBMNGR_Page_Size"  value="50" />

  <!-- Encriptación Hexadecimal-->
  <add key="VectorInicialEncriptacion" value="h&#x3;pz&#x8; &#x10;" />
  <add key="ValorConcatClavePrivada" value="za&#x4;g=It&#x4;L0&#xD;v&#x13;v_*\E&#xF;&#x1;v&#xD;R" />

  <!--<add key="VectorInicialEncriptacion" value="oQ&#x16;,#.Hh" />
  <add key="ValorConcatClavePrivada" value="Ys~qi.}&#x0;&#x2;&amp;@X X&#x1C;2o=Bh&#x18;&#x3;i&#x4;" />-->

  <!--<add key="DBConnectionType"  value="WS" />-->

  <!--<add key="DBConnectionType"  value="ORACLE" />
  <add key="DataBasePort"      value="1521" />
  <add key="Schema"   value="DBXSCHEMA" />
  <add key="UID"      value="AMSORACLE" />-->


  <!--<add key="DBConnectionType"  value="SQLSERVER" />
  <add key="DataBasePort"      value="1433" />
  <add key="Schema"            value="dbo" />
  <add key="ServerASPX"   value="192.168.0.80" />
  <add key="DataBaseASPX" value="SQLAKORE" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <add key="DBConnectionType"  value="DB2" />
  <add key="DataBasePort"      value="50000" />
	<add key="Schema"   value="DBXSCHEMA" />
  <add key="ServerASPX"     value="localhost" />
  <add key="DataBaseASPX"   value="ECASSAS" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />
  
  <add key="UID"      value="db2admin" />

  <!-- ..........Conexion a base de datos Global...................................... -->

  <add key="ServerGlobal"   value="ams.ecas.co" />
  <add key="DataBaseGlobal" value="ECASSAS" />
  <add key="PWDGlobal"      value="/tAvznkA1DXCT+2XYl0JEg==" />
  
</appSettings>