	/* Top Container - Left */
	.ob_iDdlTL
	{
		position: absolute;
    	font-size: 1px;
    	height: 21px;
    	width: 7px;
    	left: 0px;
    	cursor: pointer;
    	background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iDdlTL
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	/* Top Container - Content */
	.ob_iDdlTC
	{
		height: 21px;
		line-height: 21px;
		cursor: pointer;
		margin-left: 7px;
		margin-right: 26px;
		position: relative;
		background-image: url(images/vertical.png);
	}
	
	* HTML .ob_iDdlTC
	{
	    -background-image: url(images/vertical.gif);
	}
	
	/* Top Container - Right */
	.ob_iDdlTR
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 21px;
		width: 26px;
		right: 0px;
		cursor: pointer;
		background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iDdlTR
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	/* Input Element */
	.ob_iDdlIE
	{
		width: 100%;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		display: block;
    	background-color: transparent;
    	border: 0px;
    	margin: 0px;
    	padding: 0px;
    	margin-top: 4px !important;
    	font-family: Verdana !important;
		font-size: 10px !important;
		height: 13px !important;
		cursor: pointer;
	}
	
	.ob_iDdlCIC
	{
		display: none;
	}
	
	
	
	
	
	/* Normal State - top container */
	.ob_iDdlITCN
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;    	
	}
	
	/* Normal State - top container - left */
	.ob_iDdlITCN .ob_iDdlTL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - top container - content */
	.ob_iDdlITCN .ob_iDdlTC
	{
		background-position: 0px 0px;
	}
		
	/* Normal State - top container - right */
	.ob_iDdlITCN .ob_iDdlTR
	{
		background-position: -7px 0px;
	}
	
	.ob_iDdlITCN .ob_iDdlIE
	{
	    color: #2b4c61;
	}
	
	
	
	
	
	/* Over State - top container */
	.ob_iDdlITCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Over State - top container - left */
	.ob_iDdlITCO .ob_iDdlTL
	{
		background-position: -33px 0px;
	}
	
	/* Over State - top container - content */
	.ob_iDdlITCO .ob_iDdlTC
	{
		background-position: 0px -21px;
	}
		
	/* Over State - top container - right */
	.ob_iDdlITCO .ob_iDdlTR
	{
		background-position: -40px 0px;
	}
	
	.ob_iDdlITCO .ob_iDdlIE
	{
	    color: #063e61;
	}
	
	
	
	
	
	/* ActiveClosed State - top container */
	.ob_iDdlITCAC
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* ActiveClosed State - top container - left */
	.ob_iDdlITCAC .ob_iDdlTL
	{
		background-position: -66px 0px;
	}
	
	/* ActiveClosed State - top container - content */
	.ob_iDdlITCAC .ob_iDdlTC
	{
		background-position: 0px -42px;
	}
		
	/* ActiveClosed State - top container - right */
	.ob_iDdlITCAC .ob_iDdlTR
	{
		background-position: -73px 0px;
	}
	
	.ob_iDdlITCAC .ob_iDdlIE
	{
	    color: #01354d;
	}
	
	
	
	
	
	/* ActiveOpen State - top container */
	.ob_iDdlITCAO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* ActiveOpen State - top container - left */
	.ob_iDdlITCAO .ob_iDdlTL
	{
		background-position: -99px 0px;
	}
	
	/* ActiveOpen State - top container - content */
	.ob_iDdlITCAO .ob_iDdlTC
	{
		background-position: 0px -63px;
	}
		
	/* ActiveOpen State - top container - right */
	.ob_iDdlITCAO .ob_iDdlTR
	{
		background-position: -106px 0px;
	}
	
	.ob_iDdlITCAO .ob_iDdlIE
	{
	    color: #0e4c73;
	}
	
	
	
	
	
	/* Disabled State - top container */
	.ob_iDdlITCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Disabled State - top container - left */
	.ob_iDdlITCD .ob_iDdlTL
	{
		background-position: -132px 0px;
	}
	
	/* Disabled State - top container - content */
	.ob_iDdlITCD .ob_iDdlTC
	{
		background-position: 0px -84px;
	}
		
	/* Disabled State - top container - right */
	.ob_iDdlITCD .ob_iDdlTR
	{
		background-position: -139px 0px;
	}
	
	.ob_iDdlITCD .ob_iDdlIE
	{
	    color: #5b676d;
	}
	
	
	
	
	
	/* items container */
	.ob_iDdlIC
	{
		width: 100%;
		height: auto;
		font-size: 10px;
		position: absolute;
		top:20px;
		left:0px;
		visibility: hidden;
		z-index: 9999;
		border: 0px;
		padding-bottom: 5px;
	}
	
	.ob_iDdlIC_R
	{
	    
	}
	
	/* items container iframe*/
	.ob_iDdlICIF
	{
		font-size: 10px;
		position: absolute;
		top:20px;
		left:0px;
		margin-top: 0px;
		margin-bottom: 1px;
		z-index: 9998;
	}
	
	
	
	/* items container - header */
	.ob_iDdlICH
	{
		position: relative;
    	height: 12px;
    	font-size: 1px;
	}
	
	/* items container - header - left side */
	.ob_iDdlICHCL
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	left: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	
	* HTML .ob_iDdlICHCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - header - middle content */
	.ob_iDdlICHCM
	{
		height: 12px;
    	margin-left: 5px;
	    margin-right: 5px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: repeat-x;
		background-position: 0px -120px;
	}
	
	* HTML .ob_iDdlICHCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - header - right side */
	.ob_iDdlICHCR
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	right: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px -42px;
	}
	
	* HTML .ob_iDdlICHCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	
	/* items container - body */
	.ob_iDdlICB
	{
		position: relative;
    	height: 100%;
    	font-size: 1px;
	}
	
	
	/* items container - body left side */
	.ob_iDdlICBL
	{
		position: absolute;
    	width: 12px;
    	height: 100%;
    	top: 0px;
    	left: -5px;
		background-image: url(images/drop-down-vertical.png);
		background-position: 0px 0px;
		overflow: hidden;
		z-index: 5;
	}
	
	* HTML .ob_iDdlICBL
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iDdlICBLI
	{
		position: absolute;
    	width: 6px;
    	height: 30px;
    	top: 0px;
    	left: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: -6px -12px;
	}
	
	* HTML .ob_iDdlICBLI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	/* items container - body right side */
	.ob_iDdlICBR
	{
		position: absolute;
    	width: 12px;
    	height: 100%;
    	top: 0px;
    	right: -5px;
		background-image: url(images/drop-down-vertical.png);
		background-position: -12px 0px;
		overflow: hidden;
		z-index: 5;
	}
	
	* HTML .ob_iDdlICBR
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iDdlICBRI
	{
		position: absolute;
    	width: 6px;
    	height: 30px;
    	top: 0px;
    	right: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -54px;
	}
	
	* HTML .ob_iDdlICBRI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
		
	
	
	/* items container - body content*/
	.ob_iDdlICBC
	{
		position: relative;
    	width: auto;
    	height: 100%;
    	min-height: 42px;
    	overflow: auto;
    	margin-left: 3px;
	    margin-right: 3px;
	    padding-bottom: 4px;
	    background-image: url(images/drop-down-horizontal.png);
	    background-position: 0px -132px;
    	background-repeat: repeat-x;
	    background-color: #d0dee5;
	    font-size: 10px;
	    z-index: 10;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        list-style-type: none !important;
	}
	
	* HTML .ob_iDdlICBC
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	
	.ob_iDdlICBC li
    {
        position: relative;
        margin: 0px;
        padding: 0px;
        margin-left: 15px;
        margin-right: 15px;
        height: 19px;
        font-family: Verdana;
	    font-size: 10px;
	    color: #2b4c61;
	    cursor: pointer;
	    background-image: none;
    }
        
    .ob_iDdlICBC li.ih
    {
        background-image: url(images/lighted.png);
        background-repeat: repeat-x;
        background-position: 0px -19px;
    }
    
    * HTML .ob_iDdlICBC li.ih
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iDdlICBC li.id
	{
	    color: #AAAAAA;
	}
    
    .ob_iDdlICBC li b /*, .ob_iDdlICBC li div*/
    {
        background-position: 0px 0px;
        background-repeat: no-repeat;
        position: absolute;
        left: -15px;
        padding-left: 18px;
        right: 0px;
        height: 19px;
        line-height: 17px;
        font-weight: normal;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-align: left !important;
    }
    
    .ob_iDdlICBC li.ih b /*, .ob_iDdlICBC li.ih div*/
    {
        background-image: url(images/lighted.png);
    }
    
    * HTML .ob_iDdlICBC li.ih
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iDdlICBC li b em
	{
	    font-weight: bold !important;
	    font-size: 11px !important;
	    font-style: normal;
	    background-color: #CCCCCC;
	}
    
    .ob_iDdlICBC li i
    {
        background-position: 0px -38px;
        background-repeat: no-repeat;
        position: absolute;
        right: -15px;
        height: 19px;
        width: 15px;
        text-indent: 20px;
        overflow: hidden;
        font-size: 0px;
        white-space: nowrap;
    }
    
    .ob_iDdlICBC li.ih i
    {
        background-image: url(images/lighted.png);
    }
    
    * HTML .ob_iDdlICBC li.ih i
    {
        background-image: url(images/lighted.gif);
    }
    
    .ob_iDdlICBC li span
    {
        display: none;
    }
    
    .ob_iDdlICBC li b span
    {
        display: inline;
    }
    
    /* Item image */
    .ob_iDdlICBC li b img, .ob_iDdlICBC li div img
    {
        vertical-align: middle;
        margin-right: 3px;
        height: 16px;
    }
	
	
	
	/* items container - footer */
	.ob_iDdlICF
	{
		position: absolute;
    	height: 12px;
    	font-size: 1px;
    	width: 100%;
    	left: 0px;
	}
	
	/* items container - footer - left side */
	.ob_iDdlICFCL
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	left: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -84px;
		background-repeat: no-repeat;
		z-index:2;
	}
	
	* HTML .ob_iDdlICFCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - footer - middle content */
	.ob_iDdlICFCM
	{
		height: 12px;
    	margin-left: 7px;
	    margin-right: 7px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -96px;
		background-repeat: repeat-x;
		z-index:1;
	}
	
	* HTML .ob_iDdlICFCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - footer - right side */
	.ob_iDdlICFCR
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	right: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -108px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iDdlICFCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}