<?xml version="1.0" encoding="utf-8"?>
<!-- 
	OJO Siempre q se meta un valor aca y este sea configurable por el usuario 
	toca cambiar el control AMS.Tools.ConfiguracionInicial y agregar el campo
	insertado aca 
-->
<appSettings>
  <!-- Configuraciones Sistema -->
  <add key="SystemName" value="AMS" />
  <add key="CompanyName" value="|Ecas Cloud Systems|" />
  <add key="Version" value="Version 2.0.1" />

	<!-- Configuraciones Regionales -->
	<add key="ManejoCentavos"    value="N" />
	<add key="MonedaNacional"    value="PESOS" />

	<!-- Tamaño paginas listados dbmanager-->
	<add key="DBMNGR_Page_Size"  value="50" />

  <!-- Encriptación Hexadecimal-->
	<add key="VectorInicialEncriptacion" value="h&#x3;pz&#x8; &#x10;" />
	<add key="ValorConcatClavePrivada" value="za&#x4;g=It&#x4;L0&#xD;v&#x13;v_*\E&#xF;&#x1;v&#xD;R" /> 
  
  <!--<add key="VectorInicialEncriptacion" value="oQ&#x16;,#.Hh" />
  <add key="ValorConcatClavePrivada" value="Ys~qi.}&#x0;&#x2;&amp;@X X&#x1C;2o=Bh&#x18;&#x3;i&#x4;" />-->
	
  <!--<add key="DBConnectionType"  value="WS" />-->
  
  <!--<add key="DBConnectionType"  value="ORACLE" />
  <add key="DataBasePort"      value="1521" />
  <add key="Schema"   value="DBXSCHEMA" />
  <add key="UID"      value="AMSORACLE" />-->

  
  <!--<add key="DBConnectionType"  value="SQLSERVER" />
  <add key="DataBasePort"      value="1433" />
  <add key="Schema"            value="caldana2" />
  <add key="ServerASPX"        value="192.168.0.5" />
  <add key="DataBaseASPX"      value="SQLAKORE" />
  <add key="PWDASPX"           value="/tAvznkA1DXCT+2XYl0JEg==" />
  <add key="UID"               value="sa" />-->
  
  <add key="DBConnectionType"  value="DB2" />
  <add key="DataBasePort"      value="50000" />
	<add key="Schema"   value="DBXSCHEMA" />
  <add key="UID"      value="db2admin" />
	
  <!-- ..........Conexion a base de datos Global...................................... -->

  <add key="ServerGlobal"   value="ams.ecas.co" />
  <add key="DataBaseGlobal" value="ECASSAS" />
  <add key="PWDGlobal"      value="/tAvznkA1DXCT+2XYl0JEg==" />
  
	<!-- ..........Base de Datos ASPX..(Solo en modo DEBUG)...............................-->
  
  <!--<add key="ServerASPX"     value="localhost" />
  <add key="DataBaseASPX"   value="ECASSAS" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="localhost" />
  <add key="DataBaseASPX" value="SOMERA" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="AUTOKORE" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
    <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="EUROTEK" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="localhost" />
  <add key="DataBaseASPX"   value="FUJIQUI" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="192.168.0.3" />
  <add key="DataBaseASPX" value="SOMEPRU" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="ECASSAS" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="CAPAEXPO" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="CAPAKORE" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="COMPUAU" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->   
  
   <add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="CAPATECK" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" /> 
  
  <!--<add key="ServerASPX"     value="localhost" />
  <add key="DataBaseASPX"   value="ECAS" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="localhost" />
  <add key="DataBaseASPX"   value="AUTORI" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"     value="201.236.232.4" />
	<add key="DataBaseASPX"   value="AYCOPRU" />
	<add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="201.236.232.4" />
	<add key="DataBaseASPX"   value="AYCOECAS" />
	<add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"     value="ams.ecas.co" />
	<add key="DataBaseASPX"   value="GERMANA" />
	<add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="AUTOEXPO" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="50.97.142.218" />
  <add key="DataBaseASPX"   value="FUJIQUI" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
	<add key="DataBaseASPX"   value="MEKANO" />
	<add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="190.85.23.218" />
  <add key="DataBaseASPX"   value="CAPACITA" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"     value="50.97.142.218" />
  <add key="DataBaseASPX"   value="FUJILENA" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="50.97.142.218" />
  <add key="DataBaseASPX" value="fujiya" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="50.97.142.218" />
  <add key="DataBaseASPX" value="alemana" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="201.236.232.4" />
	<add key="DataBaseASPX" value="AYCOSERV" />
	<add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="ams.ecas.co" />
	<add key="DataBaseASPX" value="AYCOECAS" />
	<add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="ams.ecas.co" />
  <add key="DataBaseASPX" value="ECASTRAN" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="ams.ecas.co" />
  <add key="DataBaseASPX" value="CAPANIIF" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="ams.ecas.co" />
  <add key="DataBaseASPX" value="AUTORION" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="162.248.53.239" />
  <add key="DataBaseASPX" value="MAZCOBGT" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="ams.ecas.co" />
	<add key="DataBaseASPX" value="MAZKO" />
	<add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="ams.ecas.co" />
	<add key="DataBaseASPX" value="AUTOI" />
	<add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"   value="ams.ecas.co" />
	<add key="DataBaseASPX" value="VEHISEG" />
	<add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="AYCOECAS" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"     value="ams.ecas.co" />
  <add key="DataBaseASPX"   value="AUTORION" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="ServerASPX"     value="localhost" />
  <add key="DataBaseASPX"   value="MAZCOB" />
  <add key="PWDASPX"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="ServerASPX"   value="ams.ecas.co" />
  <add key="DataBaseASPX" value="MASSYDE" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
    <!--<add key="ServerASPX"   value="162.248.53.329" />
  <add key="DataBaseASPX" value="mazcobgt" />
  <add key="PWDASPX"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!-- ...............................................................................-->
   
  
  <!--<add key="Server"   value="201.236.232.4" />
	<add key="DataBase" value="AYCOSERV" />
	<add key="PWD"      value="DGzm9mybcfo=" />-->

  
  <!--<add key="Server"     value="ams.ecas.co" />
  <add key="DataBase"   value="MEKANO" />
  <add key="PWD"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->
	
	<!--<add key="Server"   value="localhost" />
	<add key="DataBase" value="AUTOI" />  
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="192.168.1.3" />
	<add key="DataBase" value="DELIVERY" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="190.254.71.234" />
	<add key="DataBase" value="amsdb5" />
	<add key="PWD"      value="3BnI1pEGdkGrCBkC3DzMNQ==" />-->
  
	<!--<add key="Server"   value="localhost" />
	<add key="DataBase" value="HYUNDAI3" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

	<!--<add key="Server"   value="190.85.15.3" />
	<add key="DataBase" value="MAZCOBGT" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="190.85.15.3" />
  <add key="DataBase" value="CAPACIT1" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="201.244.19.59" />
	<add key="DataBase" value="AMSDB" />
  <add key="PWD" value="ediDiORrSQY=" />-->

  <!--<add key="Server"   value="localhost" />
  <add key="DataBase" value="CAPACIT2" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="localhost" />
  <add key="DataBase" value="MAZCOBGT" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.1.14" />
  <add key="DataBase" value="HYUNDAI3" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="190.85.23.219" />
	<add key="DataBase" value="CAPACIT2" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="190.85.23.218" />
	<add key="DataBase" value="MAZKO" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
 
  <!--<add key="Server"   value="190.85.23.218" />
	<add key="DataBase" value="EUROCAR" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

    <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="AUTOPRUE" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  
  <!--<add key="Server"   value="190.93.156.146" />
  <add key="DataBase" value="PUNTKORE" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="192.168.0.8" />
  <add key="DataBase" value="PUNTKORE" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="201.245.85.218" />
	<add key="DataBase" value="CAPACITA" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.1.3" />
  <add key="DataBase" value="OKCAR" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="70.105.78.40" />
  <add key="DataBase" value="ASOUSADO" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="184.173.101.198" />
  <add key="DataBase" value="OKCAR" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.1.3" />
  <add key="DataBase" value="CARCENTE" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="ams.ecas.co" />
  <add key="DataBase" value="CARRENTA" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="server"   value="190.7.151.166" />
	<add key="database" value="COLAUTOS" />
	<add key="pwd"      value="7diXqKBZdKFzFlwWhf5vvQ=="/>-->
  
  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="COLAUTOS" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="server"   value="190.7.151.166" />
	<add key="database" value="CAPACIT4" />
	<add key="pwd"      value="7diXqKBZdKFzFlwWhf5vvQ=="/>-->

	<!--<add key="Server"   value="190.25.249.204" /> 
	<add key="DataBase" value="CAPACIT4" />
	<add key="PWD"      value="1/43GDe4aKW5vWTH3dNexw==" />-->

	<!--<add key="Server"     value="190.25.249.204" />
	<add key="DataBase"   value="COMAGRO2" />   
	<add key="PWD"        value="1/43GDe4aKW5vWTH3dNexw==" />-->

  <!--<add key="Server"   value="190.25.249.204" />
	<add key="DataBase" value="CAPACIT5" />   
	<add key="PWD"      value="1/43GDe4aKW5vWTH3dNexw==" />-->

  <!--<add key="Server"   value="200.119.6.38" />
	<add key="DataBase" value="CAPACITA" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg=="  />-->

	<!--<add key="Server"   value="201.244.19.59" />
	<add key="DataBase" value="CAPACITA" />
	<add key="PWD"      value="ediDiORrSQY=" />-->

  <!--<add key="Server" value="190.254.71.234" />
  <add key="DataBase" value="AMSDB5" />
  <add key="PWD"      value="3BnI1pEGdkGrCBkC3DzMNQ==" />-->
  
  <!--<add key="Server"   value="190.0.43.198" />
  <add key="DataBase" value="AMSDB" />
  <add key="PWD"      value="aANIdmer4AjkEmhzApu+iA==" />-->

  <!--<add key="Server"   value="190.0.43.198" />
  <add key="DataBase" value="CAPACITA" />
  <add key="PWD"      value="aANIdmer4AjkEmhzApu+iA==" />-->
  
    <!--<add key="Server"   value="50.97.142.218" />
  <add key="DataBase" value="CAPACITA" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.1.3" />
  <add key="DataBase" value="MAKRO" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.1.3" />
  <add key="DataBase" value="DAIMLER" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="201.232.116.68" />
  <add key="DataBase" value="CALDASM" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="200.119.6.38" />
	<add key="DataBase" value="AUTOI" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="200.119.6.38" />
  <add key="DataBase" value="CAPACIT2" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="AUTOI" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="SRV1.MTECH.COM.CO" />
	<add key="DataBase" value="MTECHDB" />
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->


  
  <!--<add key="Server"   value="192.168.1.3" />
  <add key="DataBase" value="sactest" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="ams.ecas.co" />
  <add key="DataBase" value="AUTOEXPO" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="AUTOEXP" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="50.23.209.234" />
  <add key="DataBase" value="AUTOEXPO" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="50.23.209.234" />
  <add key="DataBase" value="SOMERA" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.0.8" />
  <add key="DataBase" value="fujiya" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="alemana" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="fujiqui" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
    <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="FUJILEN" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="capacyta" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="192.168.0.3" />
  <add key="DataBase" value="COOTRANS" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="50.97.142.218" />
  <add key="DataBase" value="alemana" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="50.97.142.218" />
  <add key="DataBase" value="fujiya" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="50.97.142.218" />
  <add key="DataBase" value="FUJIQUI" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
  <!--<add key="Server"   value="50.97.142.218" />
  <add key="DataBase" value="capaCITA" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->
  
 
  
  <!--<add key="Server"   value="200.75.55.148" />
	<add key="DataBase" value="CAPACIT1" />  
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==z" />-->

  <!--<add key="Server"   value="50.97.142.218" />
	<add key="DataBase" value="fujilena" />  
	<add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="190.85.15.3" />
  <add key="DataBase" value="AMSORACLE" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="192.168.1.3" />
  <add key="DataBase" value="ECASSAS1" />
  <add key="PWD"      value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!--<add key="Server"   value="201.236.232.4" />
	<add key="DataBase" value="AYCOSERV" />
	<add key="PWD"      value="DGzm9mybcfo=" />-->

  <!--<add key="Server"   value="201.236.232.4" />
	<add key="DataBase" value="CAPACITA" />
	<add key="PWD"      value="DGzm9mybcfo=" />-->

  <!--<add key="Server"     value="192.168.0.3" />
	<add key="DataBase"   value="AYCOSERV" />
	<add key="PWD"        value="/tAvznkA1DXCT+2XYl0JEg==" />-->

  <!-- Configuración envio correo MAZKO CALI--><!--
  <add key="EmailFrom"         value="mailer-daemon@delimavehiculos.com" />
  <add key="EmailContabilidad" value="mailer-daemon@delimavehiculos.com" />
  <add key="PasswordEMail"     value="/tAvznkA1DXCT+2XYl0JEg==" />
  <add key="PasswordEMail"     value="Inicial1" />
  <add key="MailServer"        value="smtp.gmail.com" />
  <add key="MailServerPort"    value="587" />-->


  <!-- Configuración envio correo FUJIYAMA-->
  <!--<add key="EmailFrom"         value="NOREPLY@AUTOSFUJIYAMA.COM " />
  <add key="EmailContabilidad" value="NOREPLY@AUTOSFUJIYAMA.COM " />
  <add key="PasswordEMail"     value="/tAvznkA1DXCT+2XYl0JEg==" />
  <add key="PasswordEMail"     value="@Dm1nfuj1" />
  <add key="MailServer"        value="mail.autosfujiyama.com" />
  <add key="MailServerPort"    value="587" />-->
  
  <add key="EmailFrom"         value="ecas.noreply@gmail.com" />
  <add key="EmailContabilidad" value="ecas.noreply@gmail.com" />
  <add key="PasswordEMail"     value="/tAvznkA1DXCT+2XYl0JEg==" />
  <add key="PasswordEMail"     value="Inicial1" />
  <add key="MailServer"        value="smtp.gmail.com" />
  <add key="MailServerPort"    value="587" />
 
</appSettings>