<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="scheduledTasks">
      <section name="scheduler" type="bd.WebScheduledTasks.Config.SchedulerConfiguration"/>
    </sectionGroup>
  </configSections>
  <!--TAREAS PROGRAMADAS - Aqui se enumeran las Clases que deben correr cuando se actuvan las tareas programadas.
  El interval dentro del scheduler es cada cuantos minutos se ejecuta la tarea. Esto funciona con cache, por lo que dejar
  un valor muy alto haria que las tareas fallen -->
  <scheduledTasks>
    <scheduler interval="3">
      <tasks>
        <add className="AMS.Tools.TareasProgramadas, AMS.Tools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null " />
        <!--<add className="AMS.VIP.TareasProgramadasVIP, AMS.VIP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null " />
        <add className="AMS.VIP.WebRequestTask, AMS.VIP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null " />-->
      </tasks>
    </scheduler>
  </scheduledTasks>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.15.1840, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpRuntime executionTimeout="3000000" maxRequestLength="5000000" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="80" requestLengthDiskThreshold="819200" requestValidationMode="2.0"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6.1">
    </compilation>
    <!--  CUSTOM ERRORS MESSAGES
          Possible modes are "On", "Off", "RemoteOnly" -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION
          Possible modes are "Windows", "Forms", "Passport" and "None" -->
    <authentication mode="Forms">
      <forms name=".AMS" loginUrl="aspx/AMS.Web.Default.aspx" protection="All" timeout="300000"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root. -->
    <trace enabled="false" requestLimit="60" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".  -->
    <sessionState mode="InProc" cookieless="false" timeout="200000"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        <!--<add assembly="obout_Grid_NET" namespace="Obout.Grid" tagPrefix="obout"/>
        <add assembly="obout_Interface" namespace="Obout.Interface" tagPrefix="obout"/>-->
      </controls>
      <!--<namespaces>
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>-->
    </pages>
  </system.web>
  <appSettings file="gcnf.config">
    <!--Activador Tareas Programadas -->
    <add key="webRequest01" value="http://localhost/AMS/Default.aspx"/>
    <add key="webRequest02" value="http://localhost/AMS/aspx/SchedulerStatus.aspx"/>
    <!-- Variables de Inicio -->
    <add key="BootImage" value="C:\Inetpub\wwwroot\AMS\AMS\img\AMS.BootImage.jpg\"/>
    <add key="BootImageMobile" value="C:\Inetpub\wwwroot\AMS\AMS\img\AMS.BootImageMobile.jpg\"/>
    <add key="MainIndexPage" value="AMS.Web.Index.aspx"/>
    <add key="MainAjaxPage" value="AMS.Web.IndexAjax.aspx"/>
    <add key="MainMobileIndexPage" value="AMS.Web.MobileIndex.aspx"/>
    <!-- Variables de Configuracion -->
    <add key="AplicaLogs" value="false"/>
    <add key="ContabilidadAutomatica" value="false"/>
    <add key="LiquidacionProcesosDOS" value="True"/>
    <add key="SalarioLicencia" value="ULTIMO"/>
    <add key="ConductorRelevadorComodin" value=" 0"/>
    <add key="ValorMinimoConduce" value="100"/>
    <add key="ConductorRelevadorComodin" value=" 0"/>
    <add key="ValorMinimoConduce" value="100"/>
    <add key="NitComodin" value="NS"/>
    <add key="DiferenteFechaRemesa" value="NO"/>
    <add key="DiferenteFechaGiro" value="NO"/>
    <add key="DiferenteFechaAnticipo" value="NO"/>
    <add key="PagaVacacionesenPlanillaBanco" value="NO"/>
    <!--<add key="AMSDebug" value="False"/>-->
    <add key="ValidarVIN" value="False"/>
    <add key="ImprimirPreliquidacionOT" value="true"/>
    <add key="AutoAgregar" value="false"/>
    <!--Creacion de citas para taller web-->
    <add key="GrupoCatalogoWeb" value="WEB"/>
    <add key="CatalogoCitasWeb" value="JA"/>
    <!--Configuracion del Kiosko-->
    <add key="ImgServPath" value="\\10.51.250.131\Ecommerce\"/>
    <add key="KioskoRepository" value="C:\Inetpub\wwwroot\AMS\AMS\Repository\"/>
    <add key="KioskoImgServ" value="images/aspx/AMS.Web.GetImage.aspx?img="/>
    <add key="KioskoUser" value="Kiosco"/>
    <add key="KioskoPass" value="kiosco"/>
    <add key="KioskoPathToConfig" value="KioskoApp\XML"/>
    <add key="KioskoPathToImages" value="KioskoApp\Imagenes"/>
    <add key="KioskoPathToVideos" value="KioskoApp\Videos"/>
    <!-- Paths a carpetas del aplicativo -->
    <add key="MainPath" value="C:\Inetpub\wwwroot\AMS\AMS\"/>
    <add key="PathToControls" value="../ascx/"/>
    <add key="PathToAspxControls" value="../aspx/"/>
    <add key="PathToImages" value="../img/"/>
    <add key="PathToLogs" value="C:\Inetpub\wwwroot\AMS\AMS\logs\"/>
    <add key="PathToImportsComprobantes" value="C:\Inetpub\wwwroot\AMS\AMS\imp\comprobantes\"/>
    <add key="PathToImportsComprobantesDone" value="C:\Inetpub\wwwroot\AMS\AMS\imp\comprobantes\Done\"/>
    <add key="PathToImportsComprobantesFailure" value="C:\Inetpub\wwwroot\AMS\AMS\imp\comprobantes\Failure\"/>
    <add key="PathToImportsExcel" value="C:\Inetpub\wwwroot\AMS\AMS\imp\excel\"/>
    <add key="PathToImportsCobol" value="C:\Inetpub\wwwroot\AMS\AMS\imp\cobol\"/>
    <add key="PathToPreviews" value="../rptgen/"/>
    <add key="PathToImpExcelData" value="../imp/excel/"/>
    <add key="PathToReportsSource" value="C:\Inetpub\wwwroot\AMS\AMS\rpt\"/>
    <add key="PathToReports" value="C:\Inetpub\wwwroot\AMS\AMS\rptgen\"/>
    <add key="PathToSchemas" value="C:\Inetpub\wwwroot\AMS\AMS\schemas\"/>
    <add key="PathToDownloads" value="C:\Inetpub\wwwroot\AMS\AMS\dwl\"/>
    <add key="VirtualPathToDownloads" value="C:\Inetpub\wwwroot\AMS\AMS\dwl\"/>
    <add key="PathToGraphics" value="C:\Inetpub\wwwroot\AMS\AMS\est\"/>
    <add key="PathToImports" value="C:\Inetpub\wwwroot\AMS\AMS\imp\"/>
    <add key="PathToConf" value="C:\Inetpub\wwwroot\AMS\AMS\cnf\"/>
    <add key="PathToDocs" value="C:\Inetpub\wwwroot\AMS\AMS\doc\"/>
    <add key="PathToPapeleria" value="C:\Inetpub\wwwroot\AMS\AMS\papeleria\"/>
    <add key="PathToBgsCuadroTaller" value="C:\Inetpub\wwwroot\AMS\AMS\img\CuadroTaller\"/>
    <add key="PathToImgsCuadroTaller" value="C:\Inetpub\wwwroot\AMS\AMS\img\CuadroTaller\imagenes\"/>
    <add key="PathToUploads" value="C:\Inetpub\wwwroot\AMS\AMS\uploads\"/>
    <add key="PathToUploadsLargeImg" value="C:\inetpub\wwwroot\web_okcar\images\large\"/>
    <add key="PathToUploadsSmallImg" value="C:\inetpub\wwwroot\web_okcar\images\small\"/>
    <add key="PathToUploadsThumbImg" value="C:\inetpub\wwwroot\web_okcar\images\thumbs\"/>
    <add key="PathToTemp" value="C:\Inetpub\wwwroot\AMS\AMS\temp\"/>
    <add key="PathToFileSync" value="C:\inetpub\wwwroot\AMS\AMS\FileSync\"/>
    <add key="PathToManuales" value="../doc/"/>
    <add key="AutoAgregar" value="false"/>
    <add key="ManejoCentavos" value="4"/>
    <add key="UsarDecimales" value="true"/>
    <add key="tamanoDecimal" value="4"/>
    <add key="Uploads" value="../uploads/"/>
    <add key="InventarioEditarIvaPrecio" value="true"/>
    <add key="PantallaBienvenida" value="false"/>
    <add key="CrearUsuarioConDependenciaRol" value="false"/>
    <add key="frogPageSize" value="1000"/>
    <add key="UsarDecimales" value="True"/>
    <add key="tamanoDecimal" value="2"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0,   Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory,Ajax"/>
      <remove name="asset"/>
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
      <add name="IZThumbnailhandler" verb="GET" path="IZWebFileManagerThumbnailHandler.ashx=" type="IZ.WebFileManager.ThumbnailHandler, IZ.WebFileManager" resourceType="Unspecified"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <staticContent>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <mimeMap fileExtension=".xslx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </staticContent>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
    <defaultDocument>
      <files>
        <add value="/aspx/AMS.Web.Default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" maxUrl="10999" maxQueryString="10999"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--CONFIGURACION DE WEBSERVICE-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AMS_WebserviceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ams.ecas.co/WebService/AMS_Webservice.asmx" binding="basicHttpBinding" bindingConfiguration="AMS_WebserviceSoap" contract="AMSWebService.AMS_WebserviceSoap" name="AMS_WebserviceSoap"/>
    </client>
  </system.serviceModel>
</configuration>